@import url("https://fonts.googleapis.com/css?family=Exo+2:400,700&subset=cyrillic");

.wrapper {
    margin: 0 auto;
    width: 100%;
}

.timeline__nav {
    position: sticky;
    top: 20px;
    z-index: 99;
    padding-top: 10px;
}

.timeline__nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}

.timeline__nav ul li {
    display: block;
    margin: 12px 0;
    padding-left: 0;
    list-style-type: none;
    color: #bfc1c3;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.timeline__nav ul li.active {
    font-weight: bold;
    color: #f94125;
    border-bottom: 1px dotted transparent;
    transform: scale(1.2);
}

.timeline__nav ul li:hover {
    color:#000000;
}
