/* body {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  height: 100vh;
  overflow: hidden;
  display: flex;
  font-family: "Anton", sans-serif;
  justify-content: center;
  align-items: center;
} */

.night {
  position: relative;
  width: 100%;
  height: 100%;
  transform: rotateZ(45deg);
}

.shooting_star {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 2px;
  background: linear-gradient(-45deg, #5f91ff, rgba(0, 0, 255, 0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #699bff);
  -webkit-animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
          animation: tail 3000ms ease-in-out infinite, shooting 3000ms ease-in-out infinite;
}
.shooting_star::before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
          animation: shining 3000ms ease-in-out infinite;
}
.shooting_star::after {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0, 0, 255, 0), #5f91ff, rgba(0, 0, 255, 0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  -webkit-animation: shining 3000ms ease-in-out infinite;
          animation: shining 3000ms ease-in-out infinite;
  transform: translateX(50%) rotateZ(-45deg);
}
.shooting_star:nth-child(1) {
  top: calc(50% - -86px);
  left: calc(50% - 163px);
  -webkit-animation-delay: 8653ms;
          animation-delay: 8653ms;
}
.shooting_star:nth-child(1)::before, .shooting_star:nth-child(1)::after {
  -webkit-animation-delay: 8653ms;
          animation-delay: 8653ms;
}
.shooting_star:nth-child(2) {
  top: calc(50% - -149px);
  left: calc(50% - 214px);
  -webkit-animation-delay: 7963ms;
          animation-delay: 7963ms;
}
.shooting_star:nth-child(2)::before, .shooting_star:nth-child(2)::after {
  -webkit-animation-delay: 7963ms;
          animation-delay: 7963ms;
}
.shooting_star:nth-child(3) {
  top: calc(50% - 0px);
  left: calc(50% - 271px);
  -webkit-animation-delay: 2225ms;
          animation-delay: 2225ms;
}
.shooting_star:nth-child(3)::before, .shooting_star:nth-child(3)::after {
  -webkit-animation-delay: 2225ms;
          animation-delay: 2225ms;
}
.shooting_star:nth-child(4) {
  top: calc(50% - 23px);
  left: calc(50% - 177px);
  -webkit-animation-delay: 8744ms;
          animation-delay: 8744ms;
}
.shooting_star:nth-child(4)::before, .shooting_star:nth-child(4)::after {
  -webkit-animation-delay: 8744ms;
          animation-delay: 8744ms;
}
.shooting_star:nth-child(5) {
  top: calc(50% - 58px);
  left: calc(50% - 32px);
  -webkit-animation-delay: 4574ms;
          animation-delay: 4574ms;
}
.shooting_star:nth-child(5)::before, .shooting_star:nth-child(5)::after {
  -webkit-animation-delay: 4574ms;
          animation-delay: 4574ms;
}
.shooting_star:nth-child(6) {
  top: calc(50% - 183px);
  left: calc(50% - 111px);
  -webkit-animation-delay: 8561ms;
          animation-delay: 8561ms;
}
.shooting_star:nth-child(6)::before, .shooting_star:nth-child(6)::after {
  -webkit-animation-delay: 8561ms;
          animation-delay: 8561ms;
}
.shooting_star:nth-child(7) {
  top: calc(50% - -146px);
  left: calc(50% - 227px);
  -webkit-animation-delay: 5245ms;
          animation-delay: 5245ms;
}
.shooting_star:nth-child(7)::before, .shooting_star:nth-child(7)::after {
  -webkit-animation-delay: 5245ms;
          animation-delay: 5245ms;
}
.shooting_star:nth-child(8) {
  top: calc(50% - -34px);
  left: calc(50% - 149px);
  -webkit-animation-delay: 3188ms;
          animation-delay: 3188ms;
}
.shooting_star:nth-child(8)::before, .shooting_star:nth-child(8)::after {
  -webkit-animation-delay: 3188ms;
          animation-delay: 3188ms;
}
.shooting_star:nth-child(9) {
  top: calc(50% - 171px);
  left: calc(50% - 195px);
  -webkit-animation-delay: 9276ms;
          animation-delay: 9276ms;
}
.shooting_star:nth-child(9)::before, .shooting_star:nth-child(9)::after {
  -webkit-animation-delay: 9276ms;
          animation-delay: 9276ms;
}
.shooting_star:nth-child(10) {
  top: calc(50% - -51px);
  left: calc(50% - 17px);
  -webkit-animation-delay: 1142ms;
          animation-delay: 1142ms;
}
.shooting_star:nth-child(10)::before, .shooting_star:nth-child(10)::after {
  -webkit-animation-delay: 1142ms;
          animation-delay: 1142ms;
}
.shooting_star:nth-child(11) {
  top: calc(50% - 33px);
  left: calc(50% - 109px);
  -webkit-animation-delay: 5040ms;
          animation-delay: 5040ms;
}
.shooting_star:nth-child(11)::before, .shooting_star:nth-child(11)::after {
  -webkit-animation-delay: 5040ms;
          animation-delay: 5040ms;
}
.shooting_star:nth-child(12) {
  top: calc(50% - -41px);
  left: calc(50% - 241px);
  -webkit-animation-delay: 7518ms;
          animation-delay: 7518ms;
}
.shooting_star:nth-child(12)::before, .shooting_star:nth-child(12)::after {
  -webkit-animation-delay: 7518ms;
          animation-delay: 7518ms;
}
.shooting_star:nth-child(13) {
  top: calc(50% - -167px);
  left: calc(50% - 155px);
  -webkit-animation-delay: 3134ms;
          animation-delay: 3134ms;
}
.shooting_star:nth-child(13)::before, .shooting_star:nth-child(13)::after {
  -webkit-animation-delay: 3134ms;
          animation-delay: 3134ms;
}
.shooting_star:nth-child(14) {
  top: calc(50% - 34px);
  left: calc(50% - 81px);
  -webkit-animation-delay: 4945ms;
          animation-delay: 4945ms;
}
.shooting_star:nth-child(14)::before, .shooting_star:nth-child(14)::after {
  -webkit-animation-delay: 4945ms;
          animation-delay: 4945ms;
}
.shooting_star:nth-child(15) {
  top: calc(50% - 31px);
  left: calc(50% - 203px);
  -webkit-animation-delay: 2492ms;
          animation-delay: 2492ms;
}
.shooting_star:nth-child(15)::before, .shooting_star:nth-child(15)::after {
  -webkit-animation-delay: 2492ms;
          animation-delay: 2492ms;
}
.shooting_star:nth-child(16) {
  top: calc(50% - -162px);
  left: calc(50% - 1px);
  -webkit-animation-delay: 1654ms;
          animation-delay: 1654ms;
}
.shooting_star:nth-child(16)::before, .shooting_star:nth-child(16)::after {
  -webkit-animation-delay: 1654ms;
          animation-delay: 1654ms;
}
.shooting_star:nth-child(17) {
  top: calc(50% - -33px);
  left: calc(50% - 139px);
  -webkit-animation-delay: 5812ms;
          animation-delay: 5812ms;
}
.shooting_star:nth-child(17)::before, .shooting_star:nth-child(17)::after {
  -webkit-animation-delay: 5812ms;
          animation-delay: 5812ms;
}
.shooting_star:nth-child(18) {
  top: calc(50% - 42px);
  left: calc(50% - 52px);
  -webkit-animation-delay: 7986ms;
          animation-delay: 7986ms;
}
.shooting_star:nth-child(18)::before, .shooting_star:nth-child(18)::after {
  -webkit-animation-delay: 7986ms;
          animation-delay: 7986ms;
}
.shooting_star:nth-child(19) {
  top: calc(50% - -13px);
  left: calc(50% - 83px);
  -webkit-animation-delay: 5013ms;
          animation-delay: 5013ms;
}
.shooting_star:nth-child(19)::before, .shooting_star:nth-child(19)::after {
  -webkit-animation-delay: 5013ms;
          animation-delay: 5013ms;
}
.shooting_star:nth-child(20) {
  top: calc(50% - 155px);
  left: calc(50% - 98px);
  -webkit-animation-delay: 5254ms;
          animation-delay: 5254ms;
}
.shooting_star:nth-child(20)::before, .shooting_star:nth-child(20)::after {
  -webkit-animation-delay: 5254ms;
          animation-delay: 5254ms;
}

@-webkit-keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}

@keyframes tail {
  0% {
    width: 0;
  }
  30% {
    width: 100px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@keyframes shining {
  0% {
    width: 0;
  }
  50% {
    width: 30px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}
@keyframes shooting {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}
@-webkit-keyframes sky {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}
@keyframes sky {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(405deg);
  }
}